<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automattic.android.tracks">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
    </application>
</manifest>
